.text {
	margin-top: 2em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

.title {
    font-weight: 800;
	font-size: 36px;
	color: var(--title-color);
	
}

.head {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.button-container {
	margin-left: auto;
}

.button-copy {
	background-color: var(--main-color); /* Reddish-pink color */
	border: none; /* Remove the button's border */
	height: 5rem;
	width: 5rem;
	
	text-align: center; /* Center the text */
	text-decoration: none; /* Remove the default underline */
	display: inline-block; /* Make the button inline */

	color: white; 
	font-weight: bold;
	font-size: 14px;
	font-family: inherit;

	/* Slightly shifts the text from the center */
	padding-top: 3px;
	padding-right: 7px;

	border-radius: 55% 51% 55% 52%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add a shadow */
	cursor: pointer;
}


.circle {
    width: 500px;               /* Width of the circle */
    height: 500px;              /* Height of the circle */
    border-radius: 50%;         /* Makes it circular */
    background: var(--text-color);
    animation: spin 2s linear infinite; /* Spin animation */
	
  }

.circle-container {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;  
  transform-origin: center;
  cursor: grab;
}

.disk-container {
    position: relative;
	margin-top: 300px;

}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
}

.inner-circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(54, 54, 54);

}

.text-container { 
	position: relative;
	margin-top: 1em;	
}

.plain-text {	
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 30vh;

	line-height: 2.3rem;

	font-size: 14px;
	font-weight: bolder;
	color: var(--text-color);
	
	padding: 0px;
	padding-left: 1px;

	border: none;
	outline: none;
	resize: none;
	background-color: transparent;
	font-family: inherit;
	/* border: 2px solid;
	border-radius: 5px; */
}

.cipher-text-container {
	/* Deprecated */
}

.cipher-text {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 30vh;

	margin-top: 1.2rem;
	line-height: 2.3rem;

	font-size: 14px;
	font-weight: 300;
	color: var(--text-color);
	
	padding: 0px;
	padding-left: 1px;
	letter-spacing: 0.2px;

	/* border: 2px solid;
  	border-radius: 5px; */
}

.chipher-container {
  position: relative;
  margin-right: 1rem;
  /* border: solid 2px; */
  width: 50%;  
  border: 2px solid;
  border-radius: 5px;
  margin-left: 1rem;
}



.no-select {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For Internet Explorer and Edge */
}

.shift-header {
  margin-left: 1rem;
}